# Remove the afdb dataset from the daset folder
dataset/afdb/*
# This trick allows the folder to be commited to preserve the structure of the project
!dataset/afdb/.gitkeep 

# This will exclude all the subdirectories in generated but not the files in it
dataset/generated/*/

__pycache__/
script/

todo
test.py
doc.md


# IDE and filesystem files
.vscode
.idea
.directory